<!-- .navbar -->
<nav class="navbar navbar-full navbar-dark navbar-custom">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#mainNavbarCollapse">
  &#9776;
  </button>
  <a class="navbar-brand" href="/">
    <img class="img-rounded navbar-img" src="https://s3-us-west-2.amazonaws.com/sltc-studios/tatmachine.jpg">
  </a>
  <div class="collapse navbar-toggleable-md" id="mainNavbarCollapse">
    <ul class="nav navbar-nav nav-link-custom">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/artists">Artist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<!-- /.navbar -->